[Unit]
Description=Daily sbctl backup retention

[Timer]
OnCalendar=*-*-* 05:00:00
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
